<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="csvFolder" value="extractions" />
    <add key="logFolder" value="logs" />
    <add key="extractFrequency" value="3" />
  </appSettings>
</configuration>
